@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

body label,
body form {
  margin-bottom: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.block {
  flex: 1;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-table-wrapper {
  position: relative;
  margin-bottom: 20px;
  .status-img {
    width: 104px;
    position: absolute;
    top: 38px;
    right: 22px;
  }
  .info-table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(183, 183, 183, 0.5);
    border-radius: 4px;
    border: 1px solid rgba(206, 206, 206, 1);
    table-layout: fixed;
    tr,
    td,
    th {
      border: 1px solid #dfdfdf;
      height: 32px;
      font-size: 13px;
      color: #000;
      align-items: center;
      padding: 0 10px;
    }
    th {
      text-align: center;
      background: #dfdfdf;
      font-weight: bold;
    }

    .key {
      background: #f5f5f7;
    }
    .red {
      display: inline-block;
      background: rgba(248, 100, 92, 1);
      border-radius: 11px;
      border: 1px solid rgba(208, 30, 21, 1);
      height: 21px;
      line-height: 20px;
      padding: 0 10px;
      font-size: 12px;
      color: #fff;
    }
  }
  .taskNo {
    position: absolute;
    left: 22px;
    top: 8px;
    font-weight: bold;
    font-size: 14px;
  }
  .carName {
    font-weight: bold;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 16px;
      width: 3px;
      background: #2eb0b3;
    }
    .el-icon-close {
      position: absolute;
      right: 9px;
      top: 9px;
      margin: auto 0;
      cursor: pointer;
    }
  }
  .status-td {
    display: flex;
    align-items: center;
  }

  .createTime {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 12px;
    color: #333;
  }
}

.line-table {
  width: 100%;
  border-collapse: collapse;
  tr,
  td,
  th {
    border: 1px solid #666;
    height: 40px;
    font-size: 13px;
    color: #555;
    align-items: center;
    padding: 0 16px;
  }
}

.h-100 {
  height: 100%;
}

.pagination {
  width: 100%;
  text-align: right;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.block {
  flex: 1;
}

img[src="http://api0.map.bdimg.com/images/iw_close1d3.gif"] {
  display: none;
}

.warning-icon {
  width: 14px;
}

.car-waring-popover {
  padding: 10px !important;
  font-size: 12px;
  color: #333;
  .el-popover__title {
    font-size: 14px;
    // font-weight: bold;
    color: #cc2323;
    margin-bottom: 6px;
  }
}

.pre-test-form {
  .el-form-item__label {
    font-size: 12px;
    font-weight: normal;
  }
  .el-form-item__label {
    padding-right: 0;
  }
  .el-input__inner,
  .el-form-item__content,
  .el-form-item__label,
  .el-input__icon {
    height: 19px;
    line-height: 19px;
    font-size: 12px;
  }
  .el-textarea__inner {
    font-size: 12px;
  }
  .el-form-item {
    margin-bottom: 4px;
  }
  .el-input__inner {
    padding: 0 5px;
  }
  .el-input--prefix .el-input__inner {
    padding-left: 30px;
  }

  .pre-test-form-row {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    > .el-input {
      width: 0;
      flex: 1;
    }
    .el-select {
      width: 0;
      flex: 1;
    }
  }

  .label,
  .el-radio__label {
    font-size: 12px;
    color: #333;
  }
  .el-date-editor {
    width: 100%;
  }
  .el-form--inline .el-form-item__content {
    vertical-align: middle;
  }
  .el-form--inline .el-form-item {
    margin-right: 5px;
  }

  .el-select {
    width: 100%;
  }
}

.pre-test-table {
  font-size: 12px;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  th {
    background: #f5f5f5;
    height: 24px;
    border-bottom: 1px solid #ddd;
  }
  th,
  td {
    padding: 2px 10px;
    vertical-align: middle;
    border-right: 1px solid #ddd;
  }
  td {
    height: 18px;
  }
  .tr-block td {
    height: 6px;
  }
}

.pre-test-btn {
  font-size: 12px;
  color: #333333;
  height: 19px;
  background: linear-gradient(180deg, #fcfcfc 0%, #e8e8e8 100%);
  border-radius: 2px;
  border: 1px solid #cecece;
  padding: 0 10px;
  margin-right: 6px;
  img {
    width: 10px;
  }
}

.pre-test-popper {
  &.el-autocomplete-suggestion li {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
  }
  .el-select-dropdown__item {
    font-size: 12px;
  }
  .el-select-dropdown__item {
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
  }
}
